{{!< default}} <main id="gh-main" class="gh-main gh-outer">
    <div class="gh-inner">
        <div class="">
            <h2 class="home-headline">Hello
            </h2>
            <h3 class="home-subheadline">I'm researching our education system.</h3>
            <p class="home-subsub">Has school changed much since I went in the 90s? If not, why? If not, how should it?
                I’m exploring and journaling to learn how to answer these questions.
            </p>
        </div>
        <div class="card-group-home">
            <a href="/journal/" class="card-home">
                <h4>Read my journal <span class="arrow">→</span></h4>
            </a>
            <a href="/about/" class="card-home">
                <h5>Who am I? <span class="arrow">→</span></h5>
            </a>
            <a href="/work/" class="card-home">
                <h5>What can I do? <span class="arrow">→</span></h5>
            </a>
            <a href="/bookshelf/" class="card-home">
                <h5>What am I reading? <span class="arrow">→</span></h5>
            </a>
            <a href="/ideas/" class="card-home">
                <h5>What am I ideating? <span class="arrow">→</span></h5>
            </a>
        </div>
        <section class="gh-section home-entries">
            <h2 class="gh-section-title">Newest entries</h2>

            {{#get "posts" limit="3"}}
            <div class="gh-feed">
                {{^is "paged"}}
                {{#foreach posts from="1"}}
                {{> loop}}
                {{/foreach}}
                {{else}}
                {{#foreach posts}}
                {{> loop}}
                {{/foreach}}
                {{/is}}
            </div>

            {{/get}}

            <button class="gh-loadmore gh-btn">Load more entries</button>
        </section>

    </div>
    </main>